* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 15px;
}

#top-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background: #ccc;
}

#top-header .hearder-left .input-form {
  display: flex;
}

.input-form label {
  font-size: 1.3rem;
}
.input-form button {
  padding: 0.5rem 2rem;
  margin: 2px;
  font-size: 1.3rem;
}

.input-form input {
  padding: 0.5rem 2rem;
  margin: 2px;
  font-size: 1.3rem;
}

#top-header .header-right ul {
  display: flex;
  list-style: none;
  margin-top: 5px;
  align-items: center;
  text-align: center;
}

#top-header ul li {
  padding: 0.5rem 1.75rem;
  margin: 0 0.25rem;
  font-size: 1.5rem;
}

#top-header ul li:hover {
  color: #fff;
  background: #333;
  cursor: pointer;
}

.time-zone {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  margin-bottom: -30px;
}
.main-header {
  display: flex;
}

.main-header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-header ul li {
  display: inline;
  padding: 0.5rem 2rem;
  margin: 0 2px;
  font-size: 1.5rem;
  background: #ccc;
  text-align: center;
  cursor: pointer;
}

.main-header ul li:hover{
  color: #fff;
  background: #333;
  cursor: pointer;
}

.header-table {
  display: flex;
  margin-top: -1.5rem;
  position: absolute;
  z-index: 1;
}

.header-table ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: inherit;
}

.header-table ul li {
  padding: 2.5rem 5.52rem;
  font-size: 1.5rem;
  background: #ccc;
  text-align: center;
}

.body-table {
  position: relative;
  top: -3rem;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f3f3f3
}

.body-table a {
  font-size: 1.3rem;
  color: blue;
}

.histoty {
  display: flex;
}

.histoty ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.histoty ul li {
  display: inline;
  padding: 0.5rem 2rem;
  margin: 0 2px;
  font-size: 1.5rem;
  background: #815020;
  text-align: center;
  cursor: pointer;
}


